<div class="advance-filters">
  <div class="scroll-holder">
    <div class="title">
      <span>ADVANCED FILTERS</span>
      <a href="#" class="close"></a>
    </div>
    <form action="#" class="advance-filter-form">
      <div class="select-list">
        <div class="select-box">
          <a href="#" class="opener"></a>
          <div class="title-select">
            <input checked="checked" type="checkbox" id="101">
            <label for="101">Ship to</label>
          </div>
          <div class="dropp">
            <div class="row">
              <button class="icon-search" type="submit"></button>
              <input type="search" class="text" placeholder="Search...">
            </div>
            <div class="scroll-frame jcf-scrollable">
              <div class="row">
                <input checked="checked" type="checkbox" id="102">
                <label for="102"><img src="assets/images/country-01.jpg" height="11" width="14" alt="image description">Sweden</label>
              </div>
              <div class="row">
                <input type="checkbox" id="103">
                <label for="103"><img src="assets/images/country-02.jpg" height="11" width="14" alt="image description">Spain</label>
              </div>
              <div class="row">
                <input checked="checked" type="checkbox" id="104">
                <label for="104"><img src="assets/images/country-03.jpg" height="11" width="14" alt="image description">United States</label>
              </div>
              <div class="row">
                <input type="checkbox" id="105">
                <label for="105"><img src="assets/images/country-04.jpg" height="11" width="14" alt="image description">Germany</label>
              </div>
              <div class="row">
                <input checked="checked" type="checkbox" id="106">
                <label for="106"><img src="assets/images/country-05.jpg" height="11" width="14" alt="image description">Egypt</label>
              </div>
              <div class="row">
                <input type="checkbox" id="107">
                <label for="107"><img src="assets/images/country-06.jpg" height="11" width="14" alt="image description">France</label>
              </div>
              <div class="row">
                <input checked="checked" type="checkbox" id="108">
                <label for="108"><img src="assets/images/country-04.jpg" height="11" width="14" alt="image description">Germany</label>
              </div>
              <div class="row">
                <input type="checkbox" id="109">
                <label for="109"><img src="assets/images/country-05.jpg" height="11" width="14" alt="image description">Egypt</label>
              </div>
              <div class="row">
                <input checked="checked" type="checkbox" id="110">
                <label for="110"><img src="assets/images/country-06.jpg" height="11" width="14" alt="image description">France</label>
              </div>
            </div>
          </div>
        </div>
        <div class="select-box">
          <a href="#" class="opener"></a>
          <div class="title-select">
            <label for="201">GENDER</label>
          </div>
          <div class="dropp">
            <div class="scroll-frame">
              <div class="row">
                <input type="checkbox" id="202">
                <label for="202">Male</label>
              </div>
              <div class="row">
                <input type="checkbox" id="203">
                <label for="203">Female</label>
              </div>
              <div class="row">
                <input type="checkbox" id="204">
                <label for="204">Girl</label>
              </div>
              <div class="row">
                <input type="checkbox" id="205">
                <label for="205">Boy</label>
              </div>
            </div>
          </div>
        </div>
        <div class="select-box">
          <a href="#" class="opener"></a>
          <div class="title-select">
            <label for="301">Brands</label>
          </div>
          <div class="dropp">
            <div class="scroll-frame">
              <div class="row">
                <input type="checkbox" id="302">
                <label for="302">Brand 01</label>
              </div>
              <div class="row">
                <input type="checkbox" id="303">
                <label for="303">Brand 02</label>
              </div>
              <div class="row">
                <input type="checkbox" id="304">
                <label for="304">Brand 03</label>
              </div>
              <div class="row">
                <input type="checkbox" id="305">
                <label for="305">Brand 04</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="range-frame price-range">
        <span class="range-title icon-sale">Price range</span>
        <div class="jcf-range-holder">
          <input value="45, 3986" min="0" max="5000" type="range" data-text="$" multiple="" class="range-values">
        </div>
      </div>
      <div class="range-frame shipping">
        <span class="range-title icon-flight">sHIPPING COST</span>
        <div class="jcf-range-holder">
          <input value="25, 35" min="0" max="50" type="range" data-text="$" multiple="" class="range-values">
        </div>
      </div>
      <div class="range-frame avg">
        <span class="range-title icon-time">Avg Days to Ship </span>
        <div class="jcf-range-holder">
          <input value="1, 30" min="1" max="31" type="range" multiple="" class="range-values">
        </div>
      </div>
      <div class="button-holder">
        <button type="submit" class="submit">filter</button>
        <button type="reset" class="reset">Reset Filters</button>
      </div>
    </form>
  </div>
</div>
