<div class="bottom-cart-info-box">
  <a href="http://stores.365dropship.test/admin/catalog_webiz_category/edit/store/" class="continue-shopping-button"> CONTINUE SHOPPING </a>
  <div class="bottom-cart-info-box-right-col">
    <div class="balance-box no-balance">
      <span class="total-label"> BALANCE</span>
      <span class="total-number"> 0$ </span>
    </div>
    <div class="items-total-box">
      <span class="total-label"> ITEMS TOTAL</span>
      <span class="total-number"> 6.79$ </span>
    </div>
    <div class="shipping-total-box">
      <span class="total-label"> SHIPPING TOTAL</span>
      <span class="total-number">
                        <span id="total_cost_span"> 0</span>$
                      </span>
    </div>
    <div class="order-total-box">
      <span class="total-label"> ORDER TOTAL </span>
      <span class="total-number">
                        <span id="overall_total_cost"> 6.79</span>$
                      </span>
    </div>

    <button type="submit" class="checkout-button"> CHECKOUT</button>
  </div>
</div>
