<div class="payment-methods--wrapper">
  <div class="add-payment-method">
    <h2 class="payment-methods__title">Payment Methods</h2>
    <button id="add-payment-method" class="add-payment-method-btn">
      Add New
    </button>
  </div>

  <div id="payment-methods" class="payment-methods">
    <div class="payment-method">
      <div class="payment-method__icon mastercard-icon"></div>
      <div class="payment-method__details">
        <div>Mastercard **** 6726</div>
        <div>Expires 06/20</div>
      </div>
      <button class="payment-method__edit-btn">Edit</button>
    </div>

    <div class="payment-method payment-method--active">
      <div class="payment-method__icon paypal-icon"></div>
      <div class="payment-method__details">
        <div>avi@creato.co.li</div>
        <div>Connected</div>
      </div>
      <button class="payment-method__edit-btn">Edit</button>
    </div>
  </div>
</div>
