<table class="cart-table">
  <thead>
  <tr>
    <th class="th1"> Item Description </th>
    <th class="th2"> Options </th>
    <th class="th3"> Quantity </th>
    <th class="th4"> Item Cost </th>
    <th class="th5"> Total Cost </th>
  </tr>
  </thead>

  <tbody class="cartTb">
  <tr class="tb">
    <td class="bordered_bottom first-td">
      <div class="product-col-left"> <img src="./assets/images/btswholesaler_403763_0.jpg" alt=""> </div>
      <div class="product-col-right ">
        <div class="product_name"> Dark Legends Dragon Incense Ashcatcher Boat </div>
        <div class="product_sku"> SKU# puckator-5055071705915 </div>
        <div class="product_remove">
          <a href="#">
            <img src="./assets/images/trash-icon.png" alt="">
            <span class="trash-text"> Remove </span>
          </a>
        </div>
      </div>
    </td>
    <td class="bordered_bottom"> </td>
    <td class="bordered_bottom">
      <div class="select-div"> 1
        <div class="arrows"> <i class="fas fa-sort"></i> </div>
      </div>



    </td>
    <td class="bordered_bottom"> $6.79 </td>
    <td class="bordered_bottom"> $6.79 </td>
  </tr>
  </tbody>
</table>
