<div class="section-title-news">
  <img src="./assets/images/news&amp;updates.gif" class="newsImg">
  <h3> NEWS &amp; UPDATES</h3>
</div>
<div class="news-and-updates">

  <div class="news">
    <img src="./assets/images/gray-crackle-glass-table-lamp-8.jpg" alt="" class="news-img">
    <div class="news-desc">
      <h2 class="news-title"> HOME&amp;DÉCOR UPCOMING PRODUCTS </h2>
      <div class="desc">
        New HOME &amp; DECOR items are being added now to our catalog. <br>
        You can check it by putting SKU-PREFIX <span class="prefix"> "khd-" </span> into
        search field and press ENTER
      </div>
    </div>
  </div>
  <div class="news">
    <img src="./assets/images/gp10530.jpg" alt="" class="news-img">
    <div class="news-desc">
      <h2 class="news-title"> PET UPCOMING PRODUCTS </h2>
      <div class="desc">
        New PET items are being added now to our catalog. <br>
        You can check it by putting SKU-PREFIX <span class="prefix"> "epd-" </span> into search field
        and press ENTER
        Don’t forget to <br>
        spoil your pet
      </div>
    </div>
  </div>
  <div class="news">
    <img src="./assets/images/barecotton_177540_0.jpg" alt="" class="news-img">
    <div class="news-desc">
      <h2 class="news-title"> UPCOMING PRODUCTS </h2>
      <div class="desc">
        New HOME &amp; GARDEN items will be added to our catalog. <br>
        All you ever need in one huge category
      </div>
    </div>
  </div>
  <div class="news">
    <img src="./assets/images/lap_31914_.jpg" alt="" class="news-img">
    <div class="news-desc">
      <h2 class="news-title"> UPCOMING PRODUCTS </h2>
      <div class="desc">
        New PETS items will be added to our PETS category on the next few days. <br>
        Don’t forgot to spoil your pet
      </div>
    </div>
  </div>
  <div class="news">
    <img src="./assets/images/new-features.png" alt="" class="news-img">
    <div class="news-desc">
      <h2 class="news-title"> NEW FEATURE </h2>
      <div class="desc">
        We upgrated our advance filter. <br>
        Now you can filter by shipping country, cost and profit.
      </div>
    </div>
  </div>
</div>
