<div class="dashboard">
  <section class="content content--dashboard">
    <div class="sub-main dashboard-main">
      <drop-chart></drop-chart>
      <div class="cont">

        <div class="dash-left">
          <drop-news-and-updates></drop-news-and-updates>
        </div>



        <div class="dash-right">

          <div class="dash-child top">
            <drop-balance></drop-balance>
            <drop-support></drop-support>
          </div>
          <div class="dash-child bottom">
            <drop-alerts></drop-alerts>
          </div>

        </div>

      </div>


    </div>
  </section>
</div>
