<div class="col">
  <div class="section-title alerts">
    <img src="./assets/images/alerts.gif" alt="" class="alertImg">
    <h3 class="ale"> ALERTS</h3>
  </div>
  <ul class="dashboard-list">
    <li>
      <div class="list-left">
        <span class="dot-icon dot-green"> </span>
        <span class="list-label"> Orders are on Approved status </span>
      </div>
      <div class="list-right">
        <span class="list-value list-value-1"> 0 </span>
      </div>
    </li>
    <li>

      <div class="list-left">
        <span class="dot-icon dot-blue"> </span>
        <span class="list-label"> Orders are on Waiting status </span>
      </div>
      <div class="list-right">
        <span class="list-value list-value-2"> 0 </span>
      </div>
    </li>
    <li>
      <div class="list-left">
        <span class="dot-icon dot-orange"> </span>
        <span class="list-label"> Orders are on Waiting more than 72hs </span>
      </div>
      <div class="list-right">
        <span class="list-value list-value-3"> 0 </span>
      </div>
    </li>
    <li>
      <div class="list-left">
        <span class="dot-icon dot-purple"> </span>
        <span class="list-label"> Shipments were denied </span>
      </div>
      <div class="list-right">
        <span class="list-value list-value-4"> 0 </span>
      </div>
    </li>
    <li>
      <div class="list-left">
        <span class="dot-icon dot-red"> </span>
        <span class="list-label"> Approved orders with no shipment </span>
      </div>
      <div class="list-right">
        <span class="list-value list-value-5"> 0 </span>
      </div>
    </li>
  </ul>
</div>
