<div class="invoice-history">
  <div class="invoice-history__title--wrapper">
    <h2 class="invoice-history__title">Invoice History</h2>
    <span class="invoice-history__date"><i class="fa fa-sort"></i>&nbsp;2019</span>
  </div>

  <div class="invoice-list">
    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>

    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>

    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>

    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>

    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>

    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>

    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>

    <div class="invoice-item">
      <span class="invoice-item__date">September 14, 2019</span>
      <span class="invoice-item__price">$29.90</span>
      <i class="fa fa-download download-icon"></i>
    </div>
  </div>
</div>
