<div class="support-section">
  <div class="section-title support-title">
    <img src="./assets/images/support.gif" class="newsImg balance-img">
    <h4> SUPPORT </h4>
  </div>
  <div class="support">
    <div class="support-left">
      <div class="support-user-name"> Keren Green </div>
      <div class="support-user-position"> Customers Manager </div>
      <div class="support-email">
        <img src="./assets/images/support-email-icon.png" alt="">
        <a href="#"> marketing@365dropship.com</a>
      </div>
    </div>
    <div class="support-right">
      <img src="./assets/images/support-user-pic-exam.png" class="support-user">
    </div>
  </div>

</div>
