<nav class="sub-nav sub-nav--catalog">
  <div class="custom-select">
    <span class="active-option">CHOOSE NICHE</span>
    <span class="select-icon select-icon-arrows"></span>
    <ul class="drop-select">
      <!-- select-active -->
      <li>FASHION</li>
      <li>FASHION</li>
      <li>FASHION</li>
      <li>FASHION</li>
    </ul>
  </div>
  <div class="custom-select">
    <span class="active-option">body and skin care</span>
    <span class="select-icon select-icon-arrows"></span>
    <ul class="drop-select">
      <!-- select-active -->
      <li>FASHION</li>
      <li>FASHION</li>
      <li>FASHION</li>
      <li>FASHION</li>
    </ul>
  </div>
  <div class="sub-categories">
    <h3 class="sub-categories-heading">
      <span>sub categories</span>
      <span class="icon icon--mark"></span>
      <!-- <span class="icon icon--minus"></span> -->
    </h3>
    <ul class="sub-cat-list">
      <li>
        <input id="flip" type="checkbox" name="flip">
        <label class="sub-cat-label" for="flip">flip</label>
      </li>
      <li>
        <input id="flop" type="checkbox" name="flop">
        <label class="sub-cat-label" for="flop">flip flop</label>
      </li>
      <li>
        <input id="boots" type="checkbox" name="boots">
        <label class="sub-cat-label" for="boots">boots</label>
      </li>
      <li>
        <input id="sandals" type="checkbox" name="sandals">
        <label class="sub-cat-label" for="sandals">sandals</label>
      </li>
      <li>
        <input id="heels" type="checkbox" name="heels">
        <label class="sub-cat-label" for="heels">high heels</label>
      </li>
      <li>
        <input id="heels2" type="checkbox" name="heels2">
        <label class="sub-cat-label" for="heels2">high heels 2</label>
      </li>
    </ul>
  </div>
  <div class="filter-button">
    <a href="#" class="btn icon-funnel advanced-filters-button "><em>Advanced Filters</em><i></i></a>
  </div>
</nav>
