<div id="my-plans" class="my-plans">
  <h2 class="plan-and-payment__title">My Plan</h2>
  <div class="payment-plans">
    <div class="payment-plan">
      <div class="payment__details">
        <div class="payment-plan__category">Starter</div>
        <div class="payment-plan__info">
          All the basics for starting a new online business
        </div>
      </div>
      <div class="payment__price">
        <span>$9</span>
        <div class="payment__price--details">
          <span class="payment__price--dec">00</span>
          <span class="payment__price--rate">/mo</span>
        </div>
      </div>
      <button class="btn-primary">Upgrade</button>
    </div>

    <div class="payment-plan">
      <div class="payment__details">
        <div class="payment-plan__category">Advanced</div>
        <div class="payment-plan__info">
          All the basics for starting a new online business
        </div>
      </div>
      <div class="payment__price">
        $39
        <div class="payment__price--details">
          <span class="payment__price--dec">00</span>
          <span class="payment__price--rate">/mo</span>
        </div>
      </div>
      <button class="btn-primary">Upgrade</button>
    </div>

    <div class="payment-plan payment-plan--active">
      <div class="payment__details">
        <div class="payment-plan__category">
          Professional
        </div>
        <div class="payment-plan__info">
          All the basics for starting a new online business
        </div>
      </div>
      <div class="payment__price">
        $79
        <div class="payment__price--details">
          <span class="payment__price--dec">00</span>
          <span class="payment__price--rate">/mo</span>
        </div>
      </div>
      <button class="btn-primary">Current Plan</button>
    </div>
  </div>

  <div class="payment-learn-more--wrapper">
                      <span class="payment-learn-more">Learn More
                        <span class="payment-learn-more__arrow">&gt;</span>
                      </span>
  </div>
</div>
