<div class="sub sub--reset">
  <div class="sub-main password-main">
    <div class="password-reset">
      <form class="reset-form">
        <div class="show-password">
          <button class="show-password-btn"></button>
        </div>
        <div class="password-input password-input--current">
          <label for="current-password">current pasword</label>
          <div class="password-input-cont">
            <input name="current-password" required="" type="password" id="current-password" placeholder="">
            <div class="password-status"></div>
          </div>
        </div>
        <div class="password-input password-input--new">
          <label for="new_password">new pasword</label>
          <div class="password-input-cont">
            <input name="new_password" required="" type="password" id="new_password" placeholder="">
            <div class="password-status">
              <span class="verifid-1"></span>
              <span class="verifid-2"></span>
              <span class="verifid-3"></span>
            </div>
          </div>
        </div>
        <div class="password-input password-input--confirm">
          <label for="confirm-password">confirm new pasword</label>
          <div class="password-input-cont">
            <input name="confirm-password" required="" type="password" id="confirm-password" placeholder="">
            <div class="password-status">
              <span class="verifid-1"></span>
              <span class="verifid-2"></span>
              <span class="verifid-3"></span>
            </div>
          </div>
        </div>
        <button class="password-submit">save changes</button>
      </form>
    </div>
  </div>
</div>
