<div class="dashboard-box">
  <div class="dashboard-header">
    <div class="dashboard-title">
      <div class="title-wrapper">
        <img src="./assets/images/dashboard-logo.png" class="dashboard-img">
        <span> DASHBOARD </span>
      </div>
    </div>
    <div class="dashboard-date">
      <select name="" id="date-select">
        <optgroup label="2019">
          <option selected="" value="May"> May 2019</option>
          <option value="Apr"> Apr 2019</option>
        </optgroup>
        <optgroup label="2018">
          <option value="Dec"> Dec 2018</option>
          <option value="Nov"> Nov 2018</option>
        </optgroup>
      </select>
      <button type="button" class="button-help-menu"> ? </button>
    </div>

  </div>


  <div class="dashboard-graph">
    <img src="./assets/images/svg.png" class="svg">

  </div>
</div>
