<table class="orders-table">
  <tbody>
  <tr class="orders-tr">
    <th class="orders-th">
      order id
    </th>
    <th class="orders-th">
      unq
    </th>
    <th class="orders-th orders-th--unq">
      order date
    </th>
    <th class="orders-th">
      customer name
    </th>
    <th class="orders-th">
      status
    </th>
    <th class="orders-th">
      TOTAL (COST + SHIPPING)
    </th>
  </tr>
  <tr class="orders-tr">
    <th class="orders-th">
      <input type="text" name="orders_id" value="" class="orders_id">
    </th>
    <th class="orders-th">
      <input type="text" name="unq_id" value="" class="unq_id">
    </th>
    <th class="orders-th">
      <div class="filter-date-cont">
        <div class="filter-date filter-from">
          <span>From:</span>
          <input type="text" name="created_from" value="" class="created_from">
        </div>
        <div class="filter-date filter-to">
          <span>To:</span>
          <input type="text" name="created_to" value="" class="created_to">
        </div>
      </div>
    </th>
    <th class="orders-th">
      <input type="text" name="payment_method" value="" class="payment_method">
    </th>
    <th class="orders-th">
      <select class="countries-select" id="country_id">
        <option value="deposit">deposit</option>
        <option value="AL">charge</option>
        <option value="charge">Algeria</option>
        <option value="AS">reship</option>
        <option value="reship">refund</option>
        <option value="commision">transfer commision</option>
      </select>
    </th>
    <th class="orders-th">
      <div class="filter-date-cont">
        <div class="filter-date filter-from">
          <span>From:</span>
          <input type="text" name="created_from" value="" class="created_from">
        </div>
        <div class="filter-date filter-to">
          <span>To:</span>
          <input type="text" name="created_to" value="" class="created_to">
        </div>
      </div>
    </th>
  </tr>
  </tbody>
  <tbody><tr class="orders-tr">
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
  </tr>
  <tr class="orders-tr">
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
    <td class="orders-td"></td>
  </tr>
  </tbody></table>
