<header class="sub-header sub-header--catalog">
  <ul class="breadcrumbs-list">
    <li>
      <a class="breadcrumbs-link breadcrumbs-link--arrow" href="#">Fashion</a>
    </li>
    <li>
      <a class="breadcrumbs-link breadcrumbs-link--arrow" href="#">SHOES</a>
    </li>
    <li class="breadcrumbs-list--checked">
      <ul class="checked-list">
        <li>
          <span class="checked-txt">Boots</span>
          <a class="checked-link" href=""></a>
        </li>
        <li>
          <span class="checked-txt">Boots</span>
          <a class="checked-link" href=""></a>
        </li>
        <li>
          <span class="checked-txt">Boots</span>
          <a class="checked-link" href=""></a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sort">
    <div class="sort__select">
      select
    </div>
    <div class="sort__input">
      <input type="text" class="text" placeholder="Search...">
      <button type="submit" class="sort-submit icon-search"></button>
    </div>
  </div>
  <div class="selected-items selected-items-active">
    <!-- selected-items-active -->
    <div class="selected-items__left">
      <span class="icon"></span>
      <span class="separate"></span>
      <span class="selected-count">2</span>
      <span class="selected-title">Items selected</span>
    </div>
    <div class="selected-items__right">
      <button>
        Add to shopping cart
      </button>
      <button>
        Add to my inventory
      </button>
    </div>
  </div>
</header>
